*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 화면 전체 테두리 컬러 */
html{
  position: fixed;
  width: 100%;
  height: 100%;
  border: 20px solid rgb(192, 206, 137);
}
/* 기본 표 스타일 th, td */
th{
  border: 1px solid #808080 !important;
  text-align: center;
  height: 1rem;
  font-size: 0.6rem;
  background-color:  #4f82d485;
}
td{
  height: 1rem;
  font-size: 0.6rem; 
}
/* 구분선 */
hr{
  margin-top: 1%;
  margin-bottom: 1%;
}
/* 체온 글씨 색 */
span{
  color: red;
}
section{
  margin: 0 !important;
}
.maintable{
  height: 78.5vh;
  overflow: auto;
}
.date{
  width: 10%;
  vertical-align: middle !important;
}
.oxygen{
  width: 10%;
  vertical-align: middle !important;
}
.steth{
  width: 10%;
  vertical-align: middle !important;
}
.oral{
  width: 10%;
  vertical-align: middle !important;
}
.consult{
  width: 15%;
  vertical-align: middle !important;
}
.disease{
  width: 20%;
  vertical-align: middle !important;
}
.prescription{
  width: 30%;
  vertical-align: middle !important;
}
.btn{
  float: right;
  width: 10%;
  font-size: 1em;
}