@charset 

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #fafafa;
    font-family: 'PT Sans Narrow', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* Price Table Layout */
.inner {
    width: 1130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    display: inline-block;
    margin: 15px;
    transition: 0.3s;
    text-align: center;
    overflow: hidden;
    padding-bottom: 100px;
}

.card:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.15);
    transform: rotate(-10deg) scale(3);
}

/* Price Table Design */
.inner .card:nth-of-type(1),
.inner .card:nth-of-type(1) .title .fa {
    background: linear-gradient(-45deg, #F223DA, #6EABF4);
}

.inner .card:nth-of-type(2),
.inner .card:nth-of-type(2) .title .fa {
    background: linear-gradient(-45deg, #FEE478, #F938CF);
}

.inner .card:nth-of-type(3),
.inner .card:nth-of-type(3) .title .fa {
    background: linear-gradient(-45deg, #4a9beb, #9954FB);
}

.card .title .fa {
    font-size: 60px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.title h2 {
    margin: 20px 0 0;
    font-size: 36px;
}

.price h4 {
    padding: 20px 0;
    font-size: 36px;
    margin: 0;
}

ul.option {
    list-style: none;
    padding: 0;
}

.card a {
    display: inline-block;
    text-decoration: none;
    background: #fff;
    color: #555;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
    margin: 20px auto 0;
    font-size: 18px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: .3s;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.card a:hover {
    text-decoration: none;
    background: #000;
    color: #fff;
}

.card:hover {
    transform: scale(1.05);
}

.inner h1 {
    color: #000;
    font-size: 56px;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
}