/*Font CSS*/

[data-component-id="comp_00005IAZ"] .MCLeftCopy-title {
    font-family: 'Suisse Regular', sans-serif;
  
}

[data-component-id="comp_00005HJI"] .MCLeftCopy-title {
    font-family: 'Suisse Regular', sans-serif;
  
}


[data-component-id="comp_00005EG0"] .MCLeftCopy-title {
    font-family: 'Suisse Regular', sans-serif;
  
}

/*Live Chat CSS*/
.aesop-launcher {
      z-index: 3;
}

/*Hero module CSS*/

@media (min-width: 1025px){

.MCSplitHero__video,
.MCSplitHero-backgroundImg img {
  object-position: center;
}

.MCSplitHero {
    margin-bottom: -50px;
}


[data-component-id="comp_00005HJQ"] > .MCItemCarousel.MCItemCarousel--hasIntro {
padding: 0px 0 110px 0

}


[data-component-id="comp_00005CZ4"] > .MCItemCarousel.MCItemCarousel--hasIntro {
padding: 50px 0 110px 0

}

}

@media (max-width: 640px){



[data-component-id="comp_00005HJQ"] > .MCItemCarousel.MCItemCarousel--hasIntro {
padding: 0px 0 100px 0

}


[data-component-id="comp_00005CZ4"] > .MCItemCarousel.MCItemCarousel--hasIntro {
padding: 40px 0 60px 0

}

}

@media (min-width: 641px) and (max-width: 1024px) {


[data-component-id="comp_00005HJQ"] > .MCItemCarousel.MCItemCarousel--hasIntro {
padding: 50px 0 0px 0

}


[data-component-id="comp_00005CZ4"] > .MCItemCarousel.MCItemCarousel--hasIntro {
padding: 50px 0 0px 0

}

}

[data-component-id="comp_00005HJT"] > div.MCRow { padding-top: 80px;
}


[data-component-id="comp_00005C4U"] > .MCItemCarousel.MCItemCarousel--hasIntro { 
padding: 0 0 100px 0;
}

[data-component-id="comp_00005G09"] > .MCItemCarousel.MCItemCarousel--hasIntro { 
padding: 0 0 100px 0;
}

/*Live Chat CSS*/
.aesop-launcher {
      z-index: 3;
}
/*Hero module CSS*/
@media (min-width: 1025px) {
.MCSplitHero__video,
.MCSplitHero-backgroundImg img {
  object-position: center;
}

.MCSplitHero {
  min-height: 65vh;
}

[data-component-id="comp_00005G0B"] > div.MCRow { 
	flex-direction: row-reverse; 
padding-top: 70px;
	}


.MCImageHeader-body {
    margin: 0;

}
}

@media (min-width: 1025px) {
.MCImageHeader-img img {
    height: 60vh;
}
}

@media (min-width: 640px) {
  .MCImageHeader-img img {
    min-height: 500px;
    max-height: 60vh;
  }
}

