@charset "UTF-8";

div{display: block;}
html {
  font-size: 0.625em;
  font-family: 'Suisse Regular', sans-serif;}
body {
  font-family: 'Suisse Regular', sans-serif;
  font-size: 1.6rem;
  }
h1,h2,h3,h4,h5,h6,
p {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  color: #333;
  height: 100%;
}
body {
 /* background-color: #252525;*/
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  transition: margin-top 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.AlertBanner-body {
  padding: 0 40px;
}
.AlertBanner p {
  text-align: center;
}
.AlertBanner {
  position: relative;
  z-index: 500;
}
.AlertBanner-body {
  background-color: #A6672B;
  clear: both;
  color: #FFFEF2;
  height: 0;
  overflow: hidden;
  padding: 0 20px;
  top: 0;
  width: 100%;
  z-index: 2
}
.AlertBanner-body.is-showing {
  height: auto;
  overflow: visible;
  padding-bottom: 10px;
  padding-top: 10px;
}
.AlertBanner-body.is-animated {
  transition: all 1200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.AlertBanner-body.is-hidden {
  height: 0;
  padding: 0;
}
.AlertBanner p {
  font-family: 'Suisse Medium', sans-serif;
  font-family: 'Suisse Regular', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
}

.ShippingBanner {
  position: relative;
  z-index: 500;
}

.ShippingBanner-body {
  background-color: #252525;
  clear: both;
  color: #FFFEF2;
  height: 0;
  overflow: hidden;
  padding: 0 20px;
  top: 0;
  width: 100%;
  z-index: 2;
}
.ShippingBanner-body .BannerContent {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ShippingBanner-body.is-showing {
  height: auto;
  overflow: visible;
  padding-bottom: 8px;
  padding-top: 12px;
}
.ShippingBanner-body.is-animated {
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ShippingBanner-body.is-hidden {
  height: 0;
  padding: 0 20px;
}
.ShippingBanner-content {
  font-family: 'Suisse Medium', sans-serif;
  -ms-flex-positive: 2;
      flex-grow: 2;
  font-family: 'Suisse Regular', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
}
.ShippingBanner-Btn {
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  transition: border 500ms ease;
  width: 100%
}

.ShippingBanner-Btn:hover {
  fill: #FFF;
  text-decoration: underline;
}

button {
  background: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
button, input, select, textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
.has-lightNavigation:not(.has-darkLogoAndNav) .Nav-header:not(.is-fixed-visible) {
  color: #FFFEF2;
}
.Nav-header{
  -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    color: #333;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 5px;
    position: relative;
    transition: background-color 200ms cubic-bezier(0.645, 0.045, 0.355, 1), border 300ms cubic-bezier(0.645, 0.045, 0.355, 1), color 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    z-index: 1200;
}
a {
  /* color: white; */
  text-decoration: none;

}
.Nav-ul{
  display: flex;
  list-style: none;
  padding-left: 5px;
}
.Nav-ul_log{
  display: flex;
  list-style: none;
  padding-right: 15px;
}
.Nav-ul li{
  padding : 12px 15px;
}
.Nav-ul_log li{
  padding : 12px 15px;
}
header div nav ul li a {
  display: block;
}
ul {list-style-type: disc;}
li {text-align: -webkit-match-parent;}
.is-fixed .NavLogo {
  opacity: 1;
  transition: opacity 300ms 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  visibility: visible;
}
.Nav-header {
  -ms-flex-align: center;
      align-items: center;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  color: #333;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  overflow: hidden;
  padding-top: 5px;
  position: relative;
  transition: background-color 200ms cubic-bezier(0.645, 0.045, 0.355, 1),
    border 300ms cubic-bezier(0.645, 0.045, 0.355, 1), color 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  z-index: 1200;
}
@media screen and (min-width: 1025px){
  /*pc*/
.AlertBanner p {text-align: center;}
.ShippingBanner-body{
  padding: 0 40px;
  text-align: center;}
.ShippingBanner-content {text-align: center;}
}

@media screen and (min-width: 640px){
  /*tablet*/
.AlertBanner p {text-align: center;}
.ShippingBanner-body{padding: 0 34px;}
.ShippingBanner-content {text-align: center;}
.has-lightNavigation:not(.has-darkLogoAndNav) .Nav-header:not(.is-fixed-visible) .Nav-listLink {
  color: #FFFEF2;}
.Nav-listItem { line-height: 1.7;}  
}

@media screen and (min-width: 0px){
  /*mobile*/
.AlertBanner p {text-align: center;}
.ShippingBanner-body{padding: 0 28px;}
.ShippingBanner-content {text-align: center;}
}

